This Query is created by user whiteklay

In [2]:
%%hive_spark
```sql
WITH customers AS (
    SELECT customer_id, 
           CONCAT(first_name, ' ', last_name) AS Name, 
           age, 
           UPPER(gender) AS Gender 
    FROM customers
)
SELECT customers.customer_id AS Customer_ID, 
       customers.Name, 
       customers.age AS Age, 
       customers.Gender, 
       accounts.account_id AS Account_ID, 
       accounts.account_type AS Account_Type 
FROM customers
  LEFT JOIN accounts ON customers.customer_id = accounts.customer_id;
```