This Query is created by user whiteklay

In [2]:
%%hive_spark
SELECT 
    Customers.Customer_ID AS Customer_ID, 
    CONCAT(Customers.First_Name, ' ', Customers.Last_Name) AS Name, 
    Accounts.account_id AS Account_ID, 
    Customers.Phone_Number AS Phone_number 
FROM 
    Customers 
    LEFT JOIN Accounts ON Customers.Customer_ID = Accounts.customer_id