This Query is created by user whiteklay

In [2]:
%%hive_spark
SELECT customers.customer_id AS Customer_ID, 
       CONCAT(customers.first_name, ' ', customers.last_name) AS Name, 
       customers.age AS Age, 
       customers.gender AS Gender, 
       accounts.account_id AS Account_ID, 
       accounts.account_type AS Account_Type 
FROM customers 
  LEFT JOIN accounts ON customers.customer_id = accounts.customer_id